body{
	font-family: 'odisseia', sans-serif;
	font-weight: 400;
	font-style: normal;
	color: white;
	font-size: 12px;
	padding: 30px;
	text-align: center;
}

header{
	font-family: 'Faster One', cursive;
	color: red;
	font-size: 60px;
	animation:blinkingText 1.2s infinite;
}

@keyframes blinkingText{
	0%{     color: red;    }
    49%{    color: red; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: red;    }
}

h1{
	font-family:'odisseia',sans-serif;
	font-size: 20px;
	color:yellow;
	padding-bottom: 50px
}

#first:hover{
	color: yellow;
}

#first{
	padding-top: 50px
}

#second:hover{
	color: yellow;
}

#third:hover{
	color: yellow;
}

#fourth:hover{
	color: yellow;
}

#fifth:hover{
	color: yellow;
}

#sixth:hover{
	color: yellow;
}

#sixth{
	padding-bottom: 70px
}



