body{
	margin: 0;
	padding: 30px;
	width: auto;
	color:black;
	font-family: neue-haas-grotesk-text, sans-serif;
	font-weight: 400;
	font-style: normal;
	background-image: linear-gradient(to bottom,white,#b6d2bc);
	line-height: 1.8;
	text-align: center;
	margin-bottom: 500px;


}

header{
	font-family: barricada-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px; 
	color: black;
	background-image: url("../img/pancakes.jpg");
	background-size: cover;
	background-repeat: no-repeat; 
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 600px;
	margin-top: 0;
	text-align: center;
}


section{
	align-content: center;
}

h1{
	font-size: 40px;
	line-height: 1.5;
}


img {
	width: 100%;
	border: 2px solid #b60000;
	margin-top: 50px;
	margin-bottom: 30px;
	border-radius: 25px;
	text-align: center;
}

strong{
	color: #b60000;
}

.recipe{
	margin: 0;
	padding: 0;

}

.title {
  	margin: 20px;
  	margin-top: 50px;
  	padding: 20px;
  	font-family: barricada-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
	border: 3px solid #b60000;
	box-sizing: border-box;
	border-radius: 25px;
	color: #b60000;
}

li{
	text-align: center;
	margin:0;

}